

<!DOCTYPE html>

<html lang="en" class="no-js">



    <head>



        <meta charset="utf-8">

        <title>登录</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="">

        <meta name="author" content="">



        <!-- CSS -->

        <link rel="stylesheet" href="/static/css/supersized.css">

        <link rel="stylesheet" href="/static/css/style3.css">


    </head>



    <body>
    {% if errMsg %}
        <script>
            alert('用户名或密码不正确,请重新输入');
        </script>
    {% endif %}


        <div class="page-container">

            <h1>路人博客登录界面</h1>

            <h3 class="website">www.passerblog.com</h3>

            <form action="/login/" method="post">
                {% csrf_token %}

                <input type="hidden" value="{{ referer }}" name="referer">
                <input type="text" name="uphone" class="uphone" placeholder="请输入手机号">
                <span id="uphone-show" class="tips"></span>

                <input type="password" name="upwd" class="upwd" placeholder="请输入密码">
                <span id="upwd-show" class="tips"></span>
                
                <span class="remer">
                    <input type="checkbox"  id="rem_pwd" ><label for="rem_pwd">记住密码</label>
                    <a href="/find_password/">忘记密码？</a>
                </span>

                <button type="submit" name="login" class="login">登录</button>

                <a href="/register/">
                    <button type="button" name="to_register" style="background: gray;border: gray">还没有账号？</button>
                </a>


            </form>

        </div>

      



        <!-- Javascript -->

        <script src="/static/js/jquery-1.8.2.min.js"></script>

        <script src="/static/js/supersized.3.2.7.min.js"></script>

        <script src="/static/js/supersized-init.js"></script>

        <script src="/static/js/scripts.js"></script>

        <script src="/static/js/jquery-1.11.3.js"></script>

{#        <script src="/static/js/register.js"></script>#}



    </body>



</html>



