<!DOCTYPE HTML>
<html>
<head>
<title>个人博客</title>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="keywords" content="个人博客,旅游博客系统,博客,路人组,塑造生命的旅行">
<meta name="description" content="路人组旅游博客系统，在这里，你可以跟随众多旅行达人环游世界；你也可以将你的旅途故事、精彩摄影等记录下来并分享给广大网友；你还可以与各地网友互动交流、相约同行，结识拥有相同兴趣爱好的新朋友。">
<LINK rel="Bookmark" href="favicon.ico" >
<LINK rel="Shortcut Icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="/static/css/H-ui.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/iconfont.min.css" />
<link rel="stylesheet" type="text/css" href="/static/css/common.css" />
<link rel="stylesheet" type="text/css" href="/static/css/pifu.css" />

</head>
<body>
<header class="navbar-wrapper">
    <div class="navbar navbar-fixed-top">
        <div class="container cl">
            <a class="navbar-logo hidden-xs" href="personal_index.html">
                <img class="logo" src="/static/img/logo_sticky.png" alt="路人博客">
            </a>
            <a class="logo navbar-logo-m visible-xs" href="personal_index.html">首页</a>
            <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:void(0);" onclick="showSide();"></a>
            <nav class="nav navbar-nav nav-collapse w_menu" role="navigation">
                <ul class="cl">
                    <li class="active"> <a href="/personal/index" data-hover="个人主页">个人主页</a> </li>
                    <li> <a href="/personal/about" data-hover="我的资料">我的资料</a> </li>
                    <li> <a href="/personal/mood" data-hover="点赞&hearts;收藏">点赞&hearts;收藏</a> </li>
                    <li><a href="/personal/articleEdit" data-hover="发布文章">发布文章</a></li>
                    <li> <a href="/personal/board" data-hover="留言板">留言板</a> </li>
                </ul>
            </nav>
            <nav class="navbar-nav navbar-userbar hidden-xs hidden-sm " style="top: 0;">
                <ul class="cl">
                    <li class="userInfo dropDown dropDown_hover">&nbsp;&nbsp;&nbsp;
                            <a href="/app/qq" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" ><img class="avatar size-S" src="img/qq.jpg" title="登入">登入</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<section class="container pt-20">
	
  <div class="col-sm-9 col-md-9">
  	<!--滚动图-->
  	<div class="slider_main">
            <div class="slider">
                <div class="bd">
                    <ul>
                        <li><a href="#" target="_blank"><img src="/static/images/banner/banner1.jpg"></a></li>
                        <li><a href="#" target="_blank"><img src="/static/images/banner/banner2.jpg"></a></li>
                        <li><a href="#" target="_blank"><img src="/static/images/banner/banner3.jpg"></a></li>
                        <li><a href="#" target="_blank"><img src="/static/images/banner/banner4.jpg"></a></li>
                        <li><a href="#" target="_blank"><img src="/static/images/banner/banner5.jpg"></a></li>
                        <li><a href="#" target="_blank"><img src="/static/images/banner/banner6.jpg"></a></li>
                    </ul>
                </div>
                <ol class="hd cl dots">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                </ol>
                <a class="slider-arrow prev" href="javascript:void(0)"></a>
                <a class="slider-arrow next" href="javascript:void(0)"></a>
                <a class="slider-arrow next" href="javascript:void(0)"></a>
                <a class="slider-arrow next" href="javascript:void(0)"></a>
                <a class="slider-arrow next" href="javascript:void(0)"></a>
                <a class="slider-arrow next" href="javascript:void(0)"></a>
            </div>
        </div>
  		
		<div class="mt-20 bg-fff box-shadow radius mb-5">
			<div class="tab-category">
				<a href=""><strong class="current">最新发布</strong></a>
			</div>
		</div>
		<div class="art_content">
			<ul class="index_arc">
{#				<li class="index_arc_item">#}
{#					<a href="#" class="pic">#}
{#						<img class="lazyload" data-original="/static/images/art_jpg/art.jpg" alt="应该选" />#}
{#					</a>#}
{#					<h4 class="title"><a href="article_detail.html">个人博客应该选择什么样的域名和域名后缀</a></h4>#}
{#					<div class="desc">不论搭建什么样的网站，选择一个好的域名都是很有必要的，选择一个好的域名对网站的意义也是不言而喻的。每一个网站都有之对应的域名，就像人的名字一样。每个人都想自己有个好听的名字，网站也是一样。一个网站可以有多个域名，但是一个域名只能对应一个网站。&nbsp;一、域名要好记，方便输入&nbsp; &nbsp; &nbsp; &nbsp;域名本身的意义就是为了人们方便记忆才使用的，不然都用IP地址就好了。所以，网站域名一定要选择好记忆的。因为域名是不论搭建什么样的网站，选择一个好的域名都是很有必要的，选择一个好的域名对网站的意义也是不言而喻的。每一个网站都有之对应的域名，就像人的名字一样。每个人都想自己有个好听的名字，网站也是一样。一个网站可以有多个域名，但是一个域名只能对应一个网站。&nbsp;一、域名要好记，方便输入&nbsp; &nbsp; &nbsp; &nbsp;域名本身的意义就是为了人们方便记忆才使用的，不然都用IP地址就好了。所以，网站域名一定要选择好记忆的。因为域名是不论搭建什么样的网站，选择一个好的域名都是很有必要的，选择一个好的域名对网站的意义也是不言而喻的。每一个网站都有之对应的域名，就像人的名字一样。每个人都想自己有个好听的名字，网站也是一样。一个网站可以有多个域名，但是一个域名只能对应一个网站。&nbsp;一、域名要好记，方便输入&nbsp; &nbsp; &nbsp; &nbsp;域名本身的意义就是为了人们方便记忆才使用的，不然都用IP地址就好了。所以，网站域名一定要选择好记忆的。因为域名是不论搭建什么样的网站，选择一个好的域名都是很有必要的，选择一个好的域名对网站的意义也是不言而喻的。每一个网站都有之对应的域名，就像人的名字一样。每个人都想自己有个好听的名字，网站也是一样。一个网站可以有多个域名，但是一个域名只能对应一个网站。&nbsp;一、域名要好记，方便输入&nbsp; &nbsp; &nbsp; &nbsp;域名本身的意义就是为了人们方便记忆才使用的，不然都用IP地址就好了。所以，网站域名一定要选择好记忆的。因为域名是</div>						#}
{#					<div class="date_hits">#}
{#						<span>老王</span>#}
{#						<span>2017-02-24</span>#}
{#                        <span>阅读全文>></span>#}
{#						<p class="hits"><i class="Hui-iconfont" title="点击量">阅读(param)</i></p>#}
{#						<p class="commonts"><i class="cy_cmt_count" title="评论量">评论(param)</i></p>#}
{#					</div>#}
{#				</li>#}
{#				#}
{#				#}
{#				#}
{#				<li class="index_arc_item">#}
{#	            <a href="/article/4" class="pic">#}
{#	                <img class="lazyload" data-original="temp/art.jpg" alt="centos 6.5 nginx安装及配置" >#}
{#	            </a>#}
{#	        <h4 class="title"><a href="/article/4">centos 6.5 nginx安装及配置</a></h4>#}
{#	        <div class="desc">linux环境中nginx安装及配置简要概述。。。</div>#}
{#	        <div class="date_hits">#}
{#	            <span>老王</span>#}
{#	            <span>2017-3-15</span>#}
{#	            <span>#}
{#	                <a href="/article?t=1">阅读全文>></a>#}
{#	            </span>#}
{#	            <p class="hits"><i class="Hui-iconfont" title="点击量">阅读(param)</i></p>#}
{#	            <p class="commonts"><i class="cy_cmt_count" title="评论量">评论(param)</i></p>#}
{#	        </div>#}
{#	    </li>#}
{#         #}
{#         <li class="index_arc_item">#}
{#					<a href="#" class="pic">#}
{#						<img class="lazyload" data-original="temp/art.jpg" alt="应该选" />#}
{#					</a>#}
{#					<h4 class="title"><a href="article_detail.html">个人博客应该选择什么样的域名和域名后缀</a></h4>#}
{#					<div class="desc">不论搭建什么样的网站，选择一个好的域名都是很有必要的，选择一个好的域名对网站的意义也是不言而喻的。每一个网站都有之对应的域名，就像人的名字一样。每个人都想自己有个好听的名字，网站也是一样。一个网站可以有多个域名，但是一个域名只能对应一个网站。&nbsp;一、域名要好记，方便输入&nbsp; &nbsp; &nbsp; &nbsp;域名本身的意义就是为了人们方便记忆才使用的，不然都用IP地址就好了。所以，网站域名一定要选择好记忆的。因为域名是</div>#}
{#					<div class="date_hits">#}
{#						<span>老王</span>#}
{#						<span>2017-02-24</span>#}
{#						<span><a href="/article-lists/10.html">阅读全文>></a></span>#}
{#						<p class="hits"><i class="Hui-iconfont" title="点击量">阅读（param)</i></p>#}
{#						<p class="commonts"><i class="cy_cmt_count" title="评论量">评论(param)</i></p>#}
{#					</div>#}
{#				</li>#}
{#				#}
{#				<li class="index_arc_item">#}
{#	            <a href="/article/4" class="pic">#}
{#	                <img class="lazyload" data-original="temp/art.jpg" alt="centos 6.5 nginx安装及配置" >#}
{#	            </a>#}
{#	        <h4 class="title"><a href="/article/4">centos 6.5 nginx安装及配置</a></h4>#}
{#	        <div class="desc">linux环境中nginx安装及配置简要概述。。。</div>#}
{#	        <div class="date_hits">#}
{#	            <span>老王</span>#}
{#	            <span>2017-3-15</span>#}
{#	            <span>#}
{#	                <a href="/article?t=1">阅读全文>></a>#}
{#	            </span>#}
{#	            <p class="hits"><i class="Hui-iconfont" title="点击量">阅读(param)</i></p>#}
{#	            <p class="commonts"><i class="cy_cmt_count" title="评论量">评论(param)</i></p>#}
{#	        </div>#}
{#	    </li>#}
{#          #}
{#          <li class="index_arc_item">#}
{#					<a href="#" class="pic">#}
{#						<img class="lazyload" data-original="temp/art.jpg" alt="应该选" />#}
{#					</a>#}
{#					<h4 class="title"><a href="article_detail.html">个人博客应该选择什么样的域名和域名后缀</a></h4>#}
{#					<div class="desc">不论搭建什么样的网站，选择一个好的域名都是很有必要的，选择一个好的域名对网站的意义也是不言而喻的。每一个网站都有之对应的域名，就像人的名字一样。每个人都想自己有个好听的名字，网站也是一样。一个网站可以有多个域名，但是一个域名只能对应一个网站。&nbsp;一、域名要好记，方便输入&nbsp; &nbsp; &nbsp; &nbsp;域名本身的意义就是为了人们方便记忆才使用的，不然都用IP地址就好了。所以，网站域名一定要选择好记忆的。因为域名是</div>#}
{#					<div class="date_hits">#}
{#						<span>老王</span>#}
{#						<span>2017-02-24</span>#}
{#						<span><a href="/article-lists/10.html">阅读全文>></a></span>#}
{#						<p class="hits"><i class="Hui-iconfont" title="点击量">阅读(param)</i></p>#}
{#						<p class="commonts"><i class="cy_cmt_count" title="评论量">评论(param)</i></p>#}
{#					</div>#}
{#				</li>#}
{#				#}
{#				#}
{#				<li class="index_arc_item">#}
{#	            <a href="/article/4" class="pic">#}
{#	                <img class="lazyload" data-original="temp/art.jpg" alt="centos 6.5 nginx安装及配置" >#}
{#	            </a>#}
{#	        <h4 class="title"><a href="/article/4">centos 6.5 nginx安装及配置</a></h4>#}
{#	        <div class="desc">linux环境中nginx安装及配置简要概述。。。</div>#}
{#	        <div class="date_hits">#}
{#	            <span>老王</span>#}
{#	            <span>2017-3-15</span>#}
{#	            <span>#}
{#	                <a href="/article?t=1">阅读全文>></a>#}
{#	            </span>#}
{#	            <p class="hits"><i class="Hui-iconfont" title="点击量">阅读(param)</i></p>#}
{#	            <p class="commonts"><i class="cy_cmt_count" title="评论量">评论(param)</i></p>#}
{#	        </div>#}
{#	    </li>#}
{#          #}
{#          <li class="index_arc_item">#}
{#					<a href="#" class="pic">#}
{#						<img class="lazyload" data-original="temp/art.jpg" alt="应该选" />#}
{#					</a>#}
{#					<h4 class="title"><a href="article_detail.html">个人博客应该选择什么样的域名和域名后缀</a></h4>#}
{#					<div class="desc">不论搭建什么样的网站，选择一个好的域名都是很有必要的，选择一个好的域名对网站的意义也是不言而喻的。每一个网站都有之对应的域名，就像人的名字一样。每个人都想自己有个好听的名字，网站也是一样。一个网站可以有多个域名，但是一个域名只能对应一个网站。&nbsp;一、域名要好记，方便输入&nbsp; &nbsp; &nbsp; &nbsp;域名本身的意义就是为了人们方便记忆才使用的，不然都用IP地址就好了。所以，网站域名一定要选择好记忆的。因为域名是</div>#}
{#					<div class="date_hits">#}
{#						<span>老王</span>#}
{#						<span>2017-02-24</span>#}
{#						<span><a href="/article-lists/10.html">阅读全文>></a></span>#}
{#						<p class="hits"><i class="Hui-iconfont" title="点击量">阅读(param)</i></p>#}
{#						<p class="commonts"><i class="cy_cmt_count" title="评论量">评论(param)</i></p>#}
{#					</div>#}
{#				</li>#}
{#				#}
{#				#}
{#				<li class="index_arc_item">#}
{#	            <a href="/article/4" class="pic">#}
{#	                <img class="lazyload" data-original="temp/art.jpg" alt="centos 6.5 nginx安装及配置" >#}
{#	            </a>#}
{#	        <h4 class="title"><a href="/article/4">centos 6.5 nginx安装及配置</a></h4>#}
{#	        <div class="desc">linux环境中nginx安装及配置简要概述。。。</div>#}
{#	        <div class="date_hits">#}
{#	            <span>老王</span>#}
{#	            <span>2017-3-15</span>#}
{#	            <span>#}
{#	                <a href="/article?t=1">阅读全文>></a>#}
{#	            </span>#}
{#	            <p class="hits"><i class="Hui-iconfont" title="点击量">阅读(param)</i></p>#}
{#	            <p class="commonts"><i class="cy_cmt_count" title="评论量">评论(param)</i></p>#}
{#	        </div>#}
{#	    </li>#}
          
				</ul>
  		<div class="text-c mb-20" id="moreBlog">
	        <a class="btn  radius btn-block " href="javascript:;" onclick="moreBlog();">点击加载更多</a>
	        <a class="btn  radius btn-block hidden" href="javascript:;">加载中……</a>
	    </div>
		</div>
  </div>
  
  <!--right-->
  <div class="col-sm-3 col-md-3">
  	
  	<!--站点声明-->
        <div class="panel panel-default mb-20">
            <div class="panel-body">
                <i class="Hui-iconfont" style="float: left;">&nbsp;</i>
                <div class="slideTxtBox">
                    <div class="bd">
                        <ul>
                            <li><a href="javascript:void(0);">Lao博客测试版上线，欢迎访问</a></li>
                            <li><a href="javascript:void(0);">内容如有侵犯，请立即联系管理员删除</a></li>
                            <li><a href="javascript:void(0);">本站内容仅供学习和参阅，不做任何商业用途</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
  	<!--博主信息-->
        <div class="bg-fff box-shadow radius mb-20">
            <div class="tab-category">
                <a href="#"><strong>博主信息</strong></a>
            </div>
            <div class="tab-category-item">
                <ul class="index_recd">
                    <li id="author_picture" class="index_recd_item">&nbsp;<img src="temp/art.jpg"></li>
                    <li id="author_name" class="index_recd_item">&diams;姓名：张无忌</li>
                    <li id="author_work" class="index_recd_item">&diams;职业：python开发</li>
                    <li id="author_email" class="index_recd_item">&diams;邮箱：<a href="mailto:wfyv@qq.com">zhangwj@qq.com</a></li>
                    <li id="author_address" class="index_recd_item">&diams;定位：浙江 &middot; 杭州</li>
                </ul>
            </div>
        </div>
  	
  	
  	<!--热门推荐-->
  	<div class="bg-fff box-shadow radius mb-20">
			<div class="tab-category">
				<a href=""><strong>热门推荐</strong></a>
			</div>
			<div class="tab-category-item">
				<ul class="index_recd">
					<li>
						<a href="#">阻止a标签href默认跳转事件</a>
						<p class="hits"><i class="Hui-iconfont" title="点击量">&#xe622;</i> 276 </p>
					</li>
					<li >
						<a href="#">PHP面试题汇总</a>
						<p class="hits"><i class="Hui-iconfont" title="点击量">&#xe622;</i> 276 </p>
					</li>
					<li >
						<a href="#">阻止a标签href默认跳转事件</a>
						<p class="hits"><i class="Hui-iconfont" title="点击量">&#xe622;</i> 276 </p>
					</li>
					<li >
						<a href="#">阻止a标签href默认跳转事件</a>
						<p class="hits"><i class="Hui-iconfont" title="点击量">&#xe622;</i> 276 </p>
					</li>
					<li >
						<a href="#">PHP面试题汇总</a>
						<p class="hits"><i class="Hui-iconfont" title="点击量">&#xe622;</i> 276 </p>
					</li>
				</ul>
			</div>
		</div>
		
		<!--点击排行-->
        <div class="bg-fff box-shadow radius mb-20">
            <div class="tab-category">
                <a href=""><strong>点击排行</strong></a>
            </div>
            <div class="tab-category-item">
                <ul class="index_recd clickTop">
                    <li>
                        <a href="#">AJAX的刷新和前进后退问题解决</a>
                        <p class="hits"><i class="Hui-iconfont" title="点击量">阅读（276）</i>  </p>
                    </li>
                    <li>
                        <a href="#">AJAX的刷新和前进后退问题解决</a>
                        <p class="hits"><i class="Hui-iconfont" title="点击量">阅读（276）</i>  </p>
                    </li>
                    <li>
                        <a href="#">AJAX的刷新和前进后退问题解决</a>
                        <p class="hits"><i class="Hui-iconfont" title="点击量">阅读（276）</i>  </p>
                    </li>
                    <li>
                        <a href="#">AJAX的刷新和前进后退问题解决</a>
                        <p class="hits"><i class="Hui-iconfont" title="点击量">阅读（276）</i>  </p>
                    </li>
                    <li>
                        <a href="#">AJAX的刷新和前进后退问题解决</a>
                        <p class="hits"><i class="Hui-iconfont" title="点击量">阅读（276）</i>  </p>
                    </li>
                    <li>
                        <a href="#">AJAX的刷新和前进后退问题解决</a>
                        <p class="hits"><i class="Hui-iconfont" title="点击量">阅读（276）</i>  </p>
                    </li>
                    <li>
                        <a href="#">AJAX的刷新和前进后退问题解决</a>
                        <p class="hits"><i class="Hui-iconfont" title="点击量">阅读（276）</i>  </p>
                    </li>
                </ul>
            </div>
        </div>
        
		<!--最近访客-->
		<div class="bg-fff box-shadow radius mb-20">
            <div class="tab-category">
                <a href=""><strong>最近访客</strong></a>
            </div>
            <div class="panel-body">
                <ul class="recent">
                    <div class="item"><img src="img/40.jpg" alt=""></div>
                    <div class="item"><img src="img/40.jpg" alt=""></div>
                    <div class="item"><img src="img/40.jpg" alt=""></div>
                    <div class="item"><img src="img/40.jpg" alt=""></div>
                    <div class="item"><img src="img/40.jpg" alt=""></div>
                    <div class="item"><img src="img/40.jpg" alt=""></div>
                    <div class="item"><img src="img/40.jpg" alt=""></div>
                    <div class="item"><img src="img/40.jpg" alt=""></div>
                    <div class="item"><img src="img/40.jpg" alt=""></div>
                    <div class="item"><img src="img/40.jpg" alt=""></div>
                </ul>
            </div>
        </div>
	

  </div>
  
</section>
<footer class="footer mt-20">
    <div class="container-fluid" id="foot">
        <p>Copyright &copy; 2018-2019 www.luren.com</p>
    </div>
</footer>
<script type="text/javascript" src="/static/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>
<script type="text/javascript" src="/static/js/layer.js"></script>
<script type="text/javascript" src="/static/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/js/pifu.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script> $(function(){ $(window).on("scroll",backToTopFun); backToTopFun(); });</script>
<script type="text/javascript" src="/static/js/jquery.SuperSlide.min.js"></script>

<script>
$(function(){
//幻灯片
jQuery(".slider_main .slider").slide({mainCell: ".bd ul", titCell: ".hd li", trigger: "mouseover", effect: "leftLoop", autoPlay: true, delayTime: 700, interTime: 2000, pnLoop: true, titOnClassName: "active"})
//tips
jQuery(".slideTxtBox").slide({titCell: ".hd ul", mainCell: ".bd ul", autoPage: true, effect: "top", autoPlay: true});
//标签
	$(".tags a").each(function(){
		var x = 9;
		var y = 0;
		var rand = parseInt(Math.random() * (x - y + 1) + y);
		$(this).addClass("tags"+rand)
	});

	$("img.lazyload").lazyload({failurelimit : 3});
});

</script>

</body>
</html>
