.comment_all{
width:1000px;
margin:0 auto;
}

.comment_each{
margin-bottom: 100px;
}
.user_info{
font-size: 16px;
background-color: #f0f0f0;
border-radius: 4px;
position: relative;
padding: 7px 50px 4px 88px;
background: #f0f0f0;
margin-bottom: 20px;
}
#user_portrait{
position: absolute;
left:16px;
top:-14px;
border: 4px solid #f0f0f0;
width: 48px;
height: 48px;
border-radius: 50%;
}
.center_top {
font-size: 14px;
line-height: 20px;
color: #636363;
}
#user_name{
color: #636363;
font-weight: 700;
cursor: pointer;
text-decoration: none;
}
.center_bottom{
font-size: 12px;
color: rgba(88, 83, 83, 0.8);
}
.comment_num{
position: absolute;
right: 20px;
top: 19px;
line-height: 18px;
color: #636363;
font-size: 16px;
cursor: pointer;
font: 1.5 Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Heiti SC,WenQuanYi Micro Hei,sans-serif;
font-family: -webkit-body
}
}
.comment_text p{
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
line-height: 26px;
color: rgba(88, 83, 83, 0.8);
font-size: 16px;
}
.reply span{
text-align: right;
font-weight: 700;
padding-top: 15px;
color: #ffa92a;
font-size: 16px;
float: right;
}
.commentAll{
margin-bottom: 100px;
}
